<!-- Topbar Start -->
<div class="navbar-custom d-lg-none top-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="logo-box py-2">            
                    <a  class="logo text-center">
                        <span class="logo-sm">
                            <img src="/assets/images/ventav.jpg" alt="user-img"  class="w-100" >
                        </span>                
                    </a>
                </div>
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-primary btn-xs" mat-ripple (click)="showMenu();">
                    <i class="bi bi-list"></i>  
                </button>
            </div>
        </div>
    </div>
</div>