<div class="card mt-2">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-md-4">
                <h4>Tickets</h4>
            </div>
            <div class="col-md-4">
                <form [formGroup]="searchForm">
                    <div class="form-group">
                        <mat-form-field class="w-100" appearance="legacy">
                            <mat-label>Search Tickets</mat-label>
                            <input matInput formControlName="q" placeholder="Search Tickets" type="text"
                                (keydown.enter)="filter(searchForm.value)">
                            <mat-icon matSuffix (click)="filter(searchForm.value)">search</mat-icon>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <!-- <button mat-ripple class="btn btn-warning w-100" routerLink="preview" type="button">Ticket Preview</button> -->
            </div>
            <div class="col-md-2">
                <button type="button" mat-ripple class="btn btn-danger w-100 float-end" (click)="clearFilters()"
                    *ngIf="isObjectEmpty(queryParams)">Clear Filters</button>
            </div>


        </div>
    </div>
</div>
<div class="card mt-2">
    <div class="card-body">
        <form [formGroup]="searchForm">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <lb-auto-complete appearance="outline" placeholder="Filter By Deal" label="Filter By Deal"
                            [multiple]="false" [clear]="false" [fControl]="searchForm.controls['dealId']"
                            [options]="selectDeal" (selectionChange)="filter(searchForm.value)">
                        </lb-auto-complete>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <lb-auto-complete appearance="outline" placeholder="Filter By Industry"
                            label="Filter By Industry" [multiple]="false" [clear]="false"
                            [fControl]="searchForm.controls['industryId']" [options]="selectIndustry"
                            (selectionChange)="filter(searchForm.value)">
                        </lb-auto-complete>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-12">
                    <div class="form-group">
                        <lb-auto-complete appearance="outline" placeholder="Filter By Status"  label="Filter By Status"  [multiple]="false"
                        [clear]="false" [fControl]="searchForm.controls['status']" [options]="selectStatus" (selectionChange)="filter(searchForm.value)">
                    </lb-auto-complete>
                    </div>
                </div> -->
            </div>
        </form>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 shadow-none">
                        <ng-container matColumnDef="ticketNumber">
                            <th mat-header-cell *matHeaderCellDef> Ticket Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.ticketNumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="couponNumber">
                            <th mat-header-cell *matHeaderCellDef> Coupon Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.couponCode}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="redeemOnline">
                            <th mat-header-cell *matHeaderCellDef> Redeem Online </th>
                            <td mat-cell *matCellDef="let element"> {{element.redeemOnline}} </td>
                        </ng-container>
                        <ng-container matColumnDef="locationRedeemed">
                            <th mat-header-cell *matHeaderCellDef> Location Redeemed </th>
                            <td mat-cell *matCellDef="let element"> {{element.locationRedeemed}} </td>
                        </ng-container>
                        <ng-container matColumnDef="merchant">
                            <th mat-header-cell *matHeaderCellDef> Merchant </th>
                            <td mat-cell *matCellDef="let element"> {{element.merchant}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="deal">
                            <th mat-header-cell *matHeaderCellDef> Deal </th>
                            <td mat-cell *matCellDef="let element"> {{element.deal}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dailyDealFirm">
                            <th mat-header-cell *matHeaderCellDef> Daily Deal Firm</th>
                            <td mat-cell *matCellDef="let element"> {{element.firm}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="industry">
                            <th mat-header-cell *matHeaderCellDef> Industry</th>
                            <td mat-cell *matCellDef="let element"> {{element.industry}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef> Created At</th>
                            <td mat-cell *matCellDef="let element">
                                {{(element?.createdAt)?moment(element?.createdAt).format('ll'):''}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="d-flex ms-2 ms-md-0">
                                    <button class="btn btn-xs btn-danger" (click)="deleteTicket(element._id)">
                                        <i class="bi bi-trash"></i>
                                    </button>

                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row my-2">
    <div class="col-12">
        <pagination-control [pager]="pager" [params]="queryParams"></pagination-control>
    </div>
</div>
<app-loading></app-loading>