<div class="card mt-2">
    <div class="card-body bg-primary">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-white">
                    <i class="bi bi-arrow-left-circle-fill mt-1 me-1" mat-ripple routerLink="/deals" [queryParams]="queryParams"></i> Generate
                    Coupons
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="card mt-2">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submit()" class="mt-2">
            <div class="row ">
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-form-field class="w-100">
                            <mat-label>How many numbers would you like to generate?</mat-label>
                            <input matInput formControlName="noOfCoupons"
                                placeholder="How many numbers would you like to generate?" type="number" />
                            <mat-error>
                                <vmessage field="noOfCoupons" [control]="form.controls['noOfCoupons']">
                                </vmessage>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field class="w-100">
                            <mat-label>First Character Should Be</mat-label>
                            <input matInput formControlName="firstLetter" (keyup)="coutCharacter($event)"
                                placeholder="First Character Should Be" type="text" />
                            <mat-error>
                                <vmessage field="firstLetter" [control]="form.controls['firstLetter']">
                                </vmessage>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field class="w-100">
                            <mat-label>Length (number of characters) to be</mat-label>
                            <input matInput formControlName="codeLength"
                                placeholder="Length (number of characters) to be" [min]="numberOfCharacters+1"
                                type="number" />
                            <mat-error>
                                <vmessage field="codeLength" [control]="form.controls['codeLength']">
                                </vmessage>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-label class="me-2">Use numbers and letters?</mat-label>
                        <mat-radio-group aria-label="Select an option" formControlName="alphanumeric">
                            <mat-radio-button [value]="checkBoolean(true)">Yes</mat-radio-button>
                            <mat-radio-button [value]="checkBoolean(false)" class="ms-2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-2 offset-md-10 text-end">
                    <button type="submit" mat-ripple class="btn btn-primary w-100">Generate</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card mt-2">
    <div class="card-body bg-primary">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-white">Export Coupons</h4>
            </div>
        </div>
    </div>
</div>
<div class="card mt-2">
    <div class="card-body">
        <form [formGroup]="couponsCodeForm" (ngSubmit)="getCouponsCode()" class="mt-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <app-date-picker placeholderText="Select Date" label="Select  Date"
                            [fControl]="couponsCodeForm.controls['date']">
                        </app-date-picker>
                    </div>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-8"></div>

                <div class="col-md-2">
                    <button *ngIf="couponData.length>0" class="btn btn-secondary w-100" type="button" mat-ripple
                        (click)="exportCoupons();">Export</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100" type="submit" (click)="getCouponsCode()" mat-ripple>Get
                        Coupons Code</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card mt-2" *ngIf="couponData.length>0">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h5>Coupon Codes</h5>
            </div>
        </div>
        <ng-container *ngFor="let item of couponData">
            <span class="badge bg-secondary me-1 mt-1">{{item.couponCode}}</span>
        </ng-container>
    </div>
</div>
<app-loading></app-loading>