:host {
	display:block;
	position: relative;
}
.clearFilter {
	position: absolute;
	right: 45px !important;
	z-index: 50;
	cursor: pointer;
	top: 13px;
}
// ::ng-deep.mat-form-field-infix{
//     padding: 0.45rem 0.9rem !important;
// }
// // ::ng-deep.mat-form-field-appearance-outline .mat-form-field-flex {
// // 	padding: 0px !important;
// // }

