<i class="mdi mdi-close clearFilter" *ngIf="(fControl.value != '' || fControl.value.length != 0) && clear"
	(click)="fControl.setValue(''); onSelectionChange('')"></i>
<mat-form-field [appearance]="appearance" class="w-100">
	<mat-label>{{label}}</mat-label>
	<mat-select #selectElem (openedChange)="searchInput.focus(); searchInput.value=''; searchFunction('')"
		[placeholder]="placeholder" [disabled]="disabledSelect" [formControl]="fControl" [multiple]="multiple"
		[(ngModel)]="selectedValue" (selectionChange)="onSelectionChange($event.value)">
		<mat-form-field appearance="legacy" class="w-100">
			<input autocomplete="off" style="padding-left: 16px; padding-right: 16px; box-sizing: border-box;"
				(keydown)="$event.stopPropagation()" #searchInput matInput type="text"
				(input)="searchFunction(searchInput.value)" />
		</mat-form-field>
		<mat-select-trigger>
			{{ onDisplayString() }}
		</mat-select-trigger>
		<mat-option *ngFor="let option of options; trackBy: trackByFn" [disabled]="option.disabled"
			[class.px-1]="option.disabled" [value]="option[value]" [style.display]="hideOption(option) ? 'none' : 'flex'">{{
			(option[display])}}
		</mat-option>
	</mat-select>
	<mat-error>
		<vmessage [form]="null" [control]="fControl"></vmessage>
	</mat-error>
</mat-form-field>