<div class="px-1 mt-2">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <lb-auto-complete appearance="outline" label="Select Ticket Quantity"
                                placeholder="Select Ticket Quantity" [multiple]="false" [clear]="false"
                                [fControl]="form.controls['quantity']" [options]="selectQuantity">
                            </lb-auto-complete>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <lb-auto-complete appearance="outline" label="Select Location" placeholder="Select Location"
                                [multiple]="false" [clear]="false" [fControl]="form.controls['merchantId']"
                                [options]="selectLocation">
                            </lb-auto-complete>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success w-100 py-3 mt-1 font-18">Use Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="px-3 mt-2">
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <div class="row border border-1 rounded border-['#D2D2D2'] mb-2" *ngFor="let item of data">
                <div class="col-md-4 col-12  bg-light details">
                    <div class="p-3">
                        <div class="img-holder text-center">
                            <img src="assets/images/ventav.jpg" alt="industry-logo" class="">
                        </div>
                        <div class="row mt-4">
                            <div class="col-6">
                                <h5>Name</h5>
                            </div>
                            <div class="col-6">
                                <h5>{{item?.name}}</h5>
                            </div>
                            <div class="col-6">
                                <h5>Quantity</h5>
                            </div>
                            <div class="col-6">
                                <h5>01</h5>
                            </div>
                            <ng-container *ngIf="!item.hideExpiry">
                                <div class="col-6">
                                    <h5>Expiration Date</h5>
                                </div>
                                <div class="col-6">
                                    <h5>27-10-2023</h5>
                                </div>
                            </ng-container>
                            <div class="col-6">
                                <h5>Redemption Code</h5>
                            </div>
                            <div class="col-6">
                                <h5>{{item?.ticketNumber}}</h5>
                            </div>
                            <div class="col-md-12 text-center">
                                <qrcode qrdata="https://www.coverdeal.com/tickets.php?id={{item.ticketNumber}}& industry={{item.ticketNumber}}" [width]="150"  [errorCorrectionLevel]="'M'"></qrcode>
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-12 ticket_image">
                    <div class="p-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ticket-text">
                                    <h3>Thank you for your purchase from Promotional Passes.</h3>
                                </div>
                                
                                    <div class="ticket-holder">
                                        <img [src]="industry.ticketImage[0]" alt="ticket-image" class="img-thumbnail">
                                    </div>
                                
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <div class="used_tag" *ngIf="item?.redeemOnline">
                                    <h5>Used At {{item?.location}}</h5>
                                    <h5>{{item?.redeemDate?moment(item?.redeemDate).format('ll'):''}}</h5>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 pe-0 order-1 order-md-2">
            <div class="card ">
                <div class="card-body">
                    <div class="">
                        <h4>Instructions</h4>
                        <div [innerHTML]="industry['ticketText']"></div>
                    </div>
                </div>
            </div>
            <div class="card card-body mt-2">
                <div class="locations">
                    <h4>Valid at the Following Locations</h4>
                    <!-- <p>* Valid for one use at each location once a week. *</p> -->
                    <ng-container *ngFor="let item of locations">
                        <span class="d-block"><i class="bi bi-pin-fill text-danger me-1"></i> <b>{{item?.name}}</b>
                            <p class="mb-0 ms-3"> {{item?.street}} {{item?.city}} {{item?.state}}, {{item?.zipCode}}</p>
                        </span>
                        <div class="ms-3">
                            <span>{{item?.phone}}</span>
                            <div [innerHTML]="item.merchantText"></div>
                            <a href="https://{{item.website}}" target="_blank">{{item.website}}</a>
                        </div>
                    </ng-container>

                </div>
            </div>
            

        </div>
    </div>
</div>