<div class="card mt-2">
    <div class="card-body bg-primary">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-white">
                    <i
                    class="bi bi-arrow-left-circle-fill mt-1 me-1"
                    mat-ripple
                    routerLink="/masterdata/admin-templates" [queryParams]="queryParams"
                  ></i>  
                    {{adminTemplateId?'Update' : 'Add'}} Admin Template</h4>
            </div>
        </div>
    </div>
</div>
<div class="row g-2">
    <div class="col-md-8">
        <div class="card mt-2">
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="submit()" class="mt-2">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="form-group mt-3">
                                <mat-form-field class="w-100">
                                    <mat-label>Template Name</mat-label>
                                    <input matInput formControlName="templateName" placeholder="Enter Template Name"
                                        type="text" />
                                    <mat-error>
                                        <vmessage field="template Name" [control]="form.controls['name']">
                                        </vmessage>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mt-3">
                                <mat-form-field class="w-100">
                                    <mat-label>Used For</mat-label>
                                    <input matInput formControlName="used_for" placeholder="Enter Used For"
                                        type="text" />
                                    <mat-error>
                                        <vmessage field="used_for" [control]="form.controls['used_for']">
                                        </vmessage>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field class="w-100">
                                    <mat-label>Code</mat-label>
                                    <input matInput formControlName="code" placeholder="Enter Code" type="text" />
                                    <mat-error>
                                        <vmessage field="code" [control]="form.controls['code']">
                                        </vmessage>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field class="w-100">
                                    <mat-label>Message</mat-label>
                                    <input matInput formControlName="message" placeholder="Enter Message" type="text" />
                                    <mat-error>
                                        <vmessage field="message" [control]="form.controls['message']">
                                        </vmessage>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div>
                                <button class="btn btn-danger float-end w-25 text-white"  mat-ripple type="button"
                                    (click)="addfields(form.value.message,form.value.code)">{{index==-1  ?'Add':'Update'}} Field</button>
                               
                            </div>
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="col-md-2 offset-md-10 text-end">
                            <button type="submit" mat-ripple
                                class="btn btn-primary w-100">{{adminTemplateId?'Update':'Save'}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="fields.length>0">
        <div class="card mt-2">
            <div class="card-body">
                <h4>Fields</h4>
                <h5 *ngFor="let item of fields;let i=index;">{{item.message}} : <span class="badge bg-primary">{{item.code}}</span>
                    <button class="btn btn-xs btn-warning ms-2" (click)="editFields(item.code,item.message,i)" mat-ripple type="button">
                        <i class="bi bi-pencil text-light"></i>
                    </button>
                </h5>

            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>