<div class="topbar bg-white text-center">
  <img src="/assets/images/logo.png" class="logo" alt="Logo OrderMation" />
</div>
<div class="container">
  <div class="background">
    <div class="margin">
      <div class="row justify-content-center g-0">
        <div class="col-md-6 col-lg-3">
          <div class="card bg-pattern">
            <div class="card-body p-4">
              <h1 class="fw-bold text-center mb-3 font-weight-normal">
                Forgot Password
              </h1>

              <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                    <mat-form-field class="w-100">
                      <mat-label>Email address</mat-label>
                      <input
                        matInput
                        formControlName="userName"
                        placeholder="Enter your email"
                        type="email"
                      />
                      <mat-error>
                        <vmessage
                          field="userName"
                          [control]="form.controls['userName']"
                        >
                        </vmessage>
                      </mat-error>
                    </mat-form-field>
                  </div>
                <div class="text-center d-grid">
                  <button class="btn btn-primary" type="submit">Send</button>
                </div>
                <p class="mb-0 mt-3 text-center">
                  Back to
                  <a routerLink="/login" class="ms-1 text-decoration-none"
                    ><b>Login</b></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12">
            <h2
              class="text-white text-center fst-italic display-md-5 fw-bold mt-5 px-2 h1"
            >
              Estimate. Generate. Automate.
            </h2>
          </div>
      </div>
    </div>
  </div>
</div>
<app-loading></app-loading>
