<div class="card my-lg-2" [style]="customStyle(data.bannerColorCode,data.textColorCode)">
    <div class="card-body">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-2">
                    <div class="custom_image">
                        <img [src]="data.checkoutLogo" onError="this.src='/assets/images/ventav.jpg'" alt="checkout logo">
                    </div>
                </div>
                <div class="col-md-2 col-lg-6"></div>
                <div class="col-md-6 col-lg-4">
                    <div class="text-center">
                        <p class="mb-0">Contact Us: (877) 391-5911</p>
                        <p>Providing Savings & Excellence Since 1989</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8 col-12">
            <div class="my-4">
                <h3 class="text-center">CHECKOUT</h3>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center my-3">
                                <h5>{{data.checkoutText}}</h5>
                            </div>
                            <div class="my-3 text-center text-danger">
                                <h6>* 1 All-Day Tickets with Equipment Rentals - ${{data.customerPrice}}</h6>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Select Quantity</h5>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <lb-auto-complete appearance="outline" label="Select Ticket Quantity"
                                        placeholder="Select Ticket Quantity" [multiple]="false" [clear]="false"
                                        [fControl]="form.controls['ticketQuantity']" [options]="selectTicket">
                                    </lb-auto-complete>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h5>Select Location</h5>
                                <hr>
                            </div>
                            <div class="col-md-7 col-12">
                                <p>Choose your preferred location(s) from hundreds of participating fields
                                    (To select more than one, hold the Control Key.)</p>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <lb-auto-complete appearance="outline" label="Select States"
                                        placeholder="Select States" [multiple]="false" [clear]="false"
                                        [fControl]="form.controls['stateIds']" [options]="selectState" (selectionChange)="getRegionByStateId($event)">
                                    </lb-auto-complete>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <lb-auto-complete appearance="outline" label="Select Regions"
                                        placeholder="Select Regions" [multiple]="false" [clear]="false"
                                        [fControl]="form.controls['regionIds']" [options]="selectRegion">
                                    </lb-auto-complete>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h5>Your Information</h5>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <mat-label>First Name</mat-label>
                                        <input matInput formControlName="firstName" placeholder="Enter First Name" type="text" />
                                        <mat-error>
                                            <vmessage field="firstName" [control]="form.controls['firstName']">
                                            </vmessage>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput formControlName="lastName" placeholder="Enter Last Name"
                                            type="text" />
                                        <mat-error>
                                            <vmessage field="lastName" [control]="form.controls['lastName']">
                                            </vmessage>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" placeholder="Enter Email"
                                            type="email" />
                                        <mat-error>
                                            <vmessage field="email" [control]="form.controls['email']">
                                            </vmessage>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <mat-label>Phone</mat-label>
                                        <input matInput formControlName="phone" placeholder="Enter Phone"
                                            type="tel" />
                                        <mat-error>
                                            <vmessage field="phone" [control]="form.controls['phone']">
                                            </vmessage>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <app-date-picker placeholderText="Select Date of Birth"
                                        label="Select Date of Birth" [fControl]="form.controls['dob']">
                                    </app-date-picker>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h5>Billing</h5>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <lb-auto-complete appearance="outline" label="Select Card Type"
                                        placeholder="Select Card Type" [multiple]="false" [clear]="false"
                                        [fControl]="form.controls['cardType']" [options]="selectCardType">
                                    </lb-auto-complete>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <mat-label>Credit Card Number</mat-label>
                                        <input matInput formControlName="cardNo" placeholder="Credit Card Number"
                                            type="number" />
                                        <mat-error>
                                            <vmessage field="cardNo" [control]="form.controls['cardNo']">
                                            </vmessage>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <app-date-picker placeholderText="Exp mm/yyyy"
                                        label="Exp mm/yyyy" [fControl]="form.controls['cardExpiry']">
                                    </app-date-picker>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <mat-label>CVV</mat-label>
                                        <input matInput formControlName="cvv" placeholder="CVV"
                                            type="number" />
                                        <mat-error>
                                            <vmessage field="cvv" [control]="form.controls['cvv']">
                                            </vmessage>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <mat-label>Address</mat-label>
                                        <input matInput formControlName="address" placeholder="Address"
                                            type="text" />
                                        <mat-error>
                                            <vmessage field="address" [control]="form.controls['address']">
                                            </vmessage>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <mat-label>City</mat-label>
                                        <input matInput formControlName="city" placeholder="City"
                                            type="number" />
                                        <mat-error>
                                            <vmessage field="city" [control]="form.controls['city']">
                                            </vmessage>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <mat-label>State</mat-label>
                                        <input matInput formControlName="state" placeholder="State"
                                            type="number" />
                                        <mat-error>
                                            <vmessage field="state" [control]="form.controls['state']">
                                            </vmessage>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <mat-label>Zipcode</mat-label>
                                        <input matInput formControlName="zipCode" placeholder="Zipcode"
                                            type="number" />
                                        <mat-error>
                                            <vmessage field="zipCode" [control]="form.controls['zipCode']">
                                            </vmessage>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <mat-label>Discount Code</mat-label>
                                        <input matInput formControlName="discountCode" placeholder="Discount Code"
                                            type="number" />
                                        <mat-error>
                                            <vmessage field="discountCode" [control]="form.controls['discountCode']">
                                            </vmessage>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <h5>Purchase Total : <b>$25.00</b></h5>
                            </div>
                            <div class="col-md-12 text-center">
                                <p class="text-danger">* Please only click purchase once. Multiple clicks may result to multiple purchases!</p>
                                <button type="submit" [style]="customStyle(data.buttonColorCode,data.textColorCode)" class="btn w-100">PURCHASE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>